fieldset{
    outline: none;
    border: none;
    padding: 32px;
    background-color: whitesmoke;
    margin: 0px;
}
input{
    border-radius: 0px;
    border-style:solid;
    height: 50px;
    width: 450px;
}
.submit{
    background-color: orange;
    font-weight: 900;
    float: right;
    border: none;
    align-self:center;
    width: 90px;
    cursor: pointer;
}
legend{
    font-weight: 900;
    font-size:medium;
    color: blue;
}
label{
    font-size:small;
    font-weight: 600;
    color: orange;
}
body{
   margin: 0px;
}
.fieldset2{
    background-image: url(https://www.allbusiness.com/asset/2016/02/hands-typing-on-laptop.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    margin: 0px;
}
#fieldset3{
    border-top-right-radius: 100px;
    
}
p{
    font-size:32px;
    text-align: center;
    font-weight: 800;
}
h1{
    color: orange;
    margin: 0px;
    padding: 64px;
    padding-right: 89px;
    text-align: center;
    font-size: 90px;
    font-weight: 100;
    background-color:lightgray;
    background-attachment: fixed;
    border-top-right-radius: 100px;
}
@media screen and (max-width:500px) {
    h1{
        font-size:45px;
        padding: 45px;
    }
    p{
        font-size: 16px;
        text-align: center;
    }
    body{
        width: 100%;
    }
    input{
        width: 90vw;
    }
    legend{
        font-size: small;
        position:relative;
        text-align: left ;
        left:5vw;

    }
    fieldset{
        padding: 0px;
        text-align: center;
        padding-bottom: 5vh;
    }
    .submit{
        float: left;
        position: relative;
        left:5vw;
        width: 90vw;
    }
    #fieldset3{
        border-top-right-radius: 0%;
    }

}