fieldset{
    outline: transparent;
    border: transparent;
    padding: 32px;
    background-color: whitesmoke;
    margin: 0px;
}
input{
    border-radius: 0px;
    border-style:solid;
    height: 50px;
    width: 450px;
}
.submit{
    background-color: orange;
    font-weight: 900;
    float: right;
    border: none;
}
legend{
    font-weight: 900;
    font-size:medium;
    color: blue;
}
label{
    font-size:small;
    font-weight: 600;
    color: orange;
}
body{
   margin: 0px;
}
.fieldset2{
    background-image: url(https://www.allbusiness.com/asset/2016/02/hands-typing-on-laptop.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% ;
    margin: 0px;
}
#fieldset3{
    border-top-right-radius: 100px;
    
}
p{
    font-size:32px;
    text-align: center;
    font-weight: 800;
}
@media screen and(max-width: 600px) {
    .submit{
        width: 450px;
        position: absolute;
        left: 50%;
    }

}